<%- include ../partials/header.ejs %>

<%- include ../partials/navigation.ejs %>

<main class="container bottomPad">
    
    <div class="row">
        <div class="offset-md-4 col-md-4 p-5">
            <h1>Register</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group p-2">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control mt-1" name="username" placeholder="Enter username" id="username"
                        required autofocus>
                </fieldset>

                <fieldset class="form-group p-2">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control mt-1" name="password" placeholder="Enter password" id="password"
                        required>
                </fieldset>
                
                <fieldset class="form-group p-2">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control mt-1" name="email" placeholder="Enter email address" id="email"
                        required>
                </fieldset>

                <fieldset class="form-group p-2">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control mt-1" name="displayName" placeholder="Enter display name" id="displayName"
                        required>
                </fieldset>

                <fieldset class="form-group text-right p-2">
                    <input type="submit" class="btn btn-success p-1 blue-btn" value="Register">
                    <a href="/surveys">
                        <input type="button" class="btn btn-warning p-1 red-btn" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>





<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>