<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark footer-color">
        <p class="navbar-text col-md-12 col-sm-12 col-xs-12 copyright">&copy;&nbsp; Copyright 2021 AMATEC. All Rights Reserved</p>
    </nav>
</footer>