<!-- 
    Placeholder page to redirect to so we dont have broken links
-->

<%- include ../partials/header.ejs %>


<%- include ../partials/navigation.ejs %>


<h1 class="container">
    <span class="badge rounded-pill bg-light mt-3 text-black">
        This Page is Currently Under Construction (Coming Fall 2021!) <br>
        Check Back Soon!
    </span>
</h1>


<%- include ../partials/bottom_nav.ejs %>


<%- include ../partials/footer.ejs %>
