<!-- 
    Placeholder for future release 
    This is not currently linked in any route
    So currently no way to navigate to this page until it is finished
-->
<%- include ../partials/header.ejs %>


<%- include ../partials/navigation.ejs %>


<div>
    <!--<span class="badge rounded-pill bg-light mt-3 text-black"> -->
    <h1 class="title">
        Meet the Members of the AMATEC Team
    </h1>
</div>

<div class="container bottomPad">
    <div class="row row-cols-6 row-cols-md-4 g-5 mx-auto">
        <!-- Ami Card * Finished -->
        <div class="col">
          <div class="card border-info bg-dark text-info">
            <img src="/assets/images/ami.jpg" class="card-img-top" alt="Ami's picture">
            <div class="card-body">
              <h5 class="card-title text-center">Ami Yogeshbhai Gajjar</h5>              
            </div>
            <div class="text-center">
              <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/amigajjarsm" target="_blank" class="card-link">GitHub</a>
                  <a href="https://comp229aaf2.herokuapp.com/home" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:agajja12@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://www.linkedin.com/in/amigajjar/" target="_blank" class="card-link">LinkedIn</a>
              </div>
          </div>
          </div>
        </div>

        <!-- Tasnuva Card -->
        <div class="col">
          <div class="card border-info bg-dark text-info">
            <img src="/assets/images/tasnuva.jpg" class="card-img-top" alt="Tasnuva's picture">
            <div class="card-body">
              <h5 class="card-title text-center">Tasnuva Sultana</h5>              
            </div>
            <div class="text-center">
              <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/tasnuvaS" target="_blank" class="card-link">GitHub</a>
                  <a href="https://express-portfolio-site-tasnuva.herokuapp.com/" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:tsulta16@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://www.linkedin.com/in/tsulta/" target="_blank" class="card-link">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Eleonora Card -->
        <div class="col">
          <div class="card border-info bg-dark text-info">
            <img src="/assets/images/eleonora.jpeg" class="card-img-top" alt="Eleonora's picture">
            <div class="card-body">
              <h5 class="card-title text-center">Eleonora Panussyants</h5>              
            </div>
            <div class="text-center">
              <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/paneleon" target="_blank" class="card-link">GitHub</a>
                  <a href="https://eleonora-authentication.herokuapp.com/" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:epanussy@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://ca.linkedin.com/in/paneleon" target="_blank" class="card-link">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Chitwan Card * Finished -->
        <div class="col">
          <div class="card border-info bg-dark text-info">
            <img src="/assets/images/chitwan.jpeg" class="card-img-top" alt="Chitwan's picture">
            <div class="card-body">
              <h5 class="card-title text-center">Chitwan Katyal</h5>              
            </div>
            <div class="text-center">
              <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/chitwankatyal" target="_blank" class="card-link">GitHub</a>
                  <a href="https://comp229-expressportfolio.herokuapp.com/" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:ckatyal@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://ca.linkedin.com/in/chitwankatyal" target="_blank" class="card-link">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Ameek Card *Finished -->
        <div class="col mx-auto">
            <div class="card border-info bg-dark text-info">
              <img src="/assets/images/ameek.jpg" class="card-img-top" alt="Ameek's picture">
              <div class="card-body">
                <h5 class="card-title text-center">Ameek Gupta</h5>                
              </div>
              <div class="text-center">
                <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/AmeekGupta" target="_blank" class="card-link">GitHub</a>
                  <a href="https://comp229-expressportfolio-ameek.herokuapp.com/" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:agupt123@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://ca.linkedin.com/in/ameekgupta" target="_blank" class="card-link">LinkedIn</a>
                </div>
              </div>
            </div>
        </div>

        <!-- Mark Card *Finished -->
          <div class="col mx-auto">
            <div class="card border-info bg-dark text-info">
              <img src="/assets/images/mark.jpeg" class="card-img-top" alt="Mark's picture">
              <div class="card-body">
                <h5 class="card-title text-center">Mark Randall</h5>
              </div>  
              <div class="text-center">           
                <div class="card-body border-info bg-dark text-info">
                  <a href="https://github.com/theCodeDoctor-AI" target="_blank" class="card-link">GitHub</a>
                  <a href="https://comp229-fall2021-week3.herokuapp.com/" target="_blank" class="card-link">Heroku</a>
                  <a href="mailto:mranda10@my.centennialcollege.ca" target="_blank" class="card-link">Email</a>
                  <a href="https://www.linkedin.com/in/m-randall/" target="_blank" class="card-link">LinkedIn</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>


<%- include ../partials/footer.ejs %>

