/*CSS*/

.navbar-color {
    /* background-color: rgb(23, 55, 86); */
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at top, #21a9b0, #192f43, #071118);
}

.footer-color {
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at bottom, #21a9b0, #192f43, #071118);
}

.copyright {
    text-align: center;
}

.logo-style {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#addDiv {
    margin: auto;
    width: auto;
}

/*This class is attached to the Confirmation warning sicne we did not use btn-danger
If removed or commented the 'Are You Sure' warning will break.
Added dummy style to get rid of empty class warning
*/
.delete {
    box-shadow: 0.1, 0.1, 0.1, white
}


/* .form-class {
    padding: 5px;
    border-radius: 5px;
    border-color: #192f43;
}

#descTextArea {
    padding: 5px;
    border-radius: 5px;
    border-color: #192f43;

} */

