/*CSS*/

a {
    text-decoration: none;
    color: #37d1d9;
}

a:hover {
    color: #10878d;
}

body {
    margin-bottom: 100px;
}

#homeHere {
    text-decoration: none;
    color:#006fee;
    font-weight: bold;
}

#homeLogo {
    border-style: solid;
    border-radius: 50%;
    border-color:aqua;
    width: 200px;
    height: 200px;

}

#homeLogoDiv {
    text-align: center;
}

#accordionPanelsStayOpenExample {
    border-style: solid;
    border-color:rgb(0, 170, 170);
    border-radius: 6px;
}


.title {
    margin: 3% 0;
    font-size: 3rem;
    text-align: center;
}

.navbar-color {
    /* background-color: rgb(23, 55, 86); */
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at top, #21a9b0, #192f43, #071118);
}

.footer-color {
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at bottom, #21a9b0, #192f43, #071118);
}

footer p {
    color: #00ecec !important;
}

.copyright {
    text-align: center;
}

.logo-style {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

#addDiv {
    margin: auto;
    width: auto;
}

.bottomPad {
    padding-bottom: 95px;
}

.card {
    display: inline-block;
    border-style: solid;
    border-color:rgb(0, 170, 170);
    border-width: 4px;
    border-radius: 5px;
    max-width: 275px;
    min-width: 245px;
}

.readonly-textfield {
    border: none;
    outline: none;
    background-color: transparent;
}

.textarea-style {
    width: 400px;
    height: auto;
    resize: none;
}

/*****This class is attached to the Confirmation warning since we did not use btn-danger
If removed or commented, the 'Are You Sure' warning will break.
Added dummy style to get rid of empty class warning
*/
.delete {
    box-shadow: 0.1, 0.1, 0.1, white
}


/* .form-class {
    padding: 5px;
    border-radius: 5px;
    border-color: #192f43;
}

#descTextArea {
    padding: 5px;
    border-radius: 5px;
    border-color: #192f43;

} */

/* table.surveys-list tr {
    padding-bottom: 5%;
    border-bottom: 1px solid gray;
} */

.survey {
    margin: 5% auto;
    border-bottom: 1px solid gray;
}

.survey-description {
    width: 70%;
    margin-right: 15%;
}

.survey-buttons {
    margin-left: 10%;
    float: right;
}

.survey h3 {
    margin: 2% auto;
}

.survey p {
    margin: 2% auto;
}

.circle {
    border-radius: 50%;
    background-color: #21a9b0;
    color: white;
    min-width: 24px;
    height: 24px;
    padding: 4px 10px;
    text-align: center;
    font-size: 18px;
    border: 3px solid #21a9b0;
}


.btn {
    min-width: 80px !important;
    margin: 5px 0;
}

.card-img-top {
    height: 270px;
}

.blue-btn {
    background-color: #21a9b0 !important;
    border-color: #37d1d9 !important;
    color: white;
}

.blue-btn:hover {
    background-color: #10878d !important;
    border-color: #37d1d9 !important;
    color: white;
}

.red-btn {
    background-color: #C84B31 !important;
    border-color:#C84B31 !important;
    color: white;
}

.red-btn:hover {
    background-color: #993824 !important;
    border-color:#C84B31 !important;
    color: white;
}

.error {
    color: red;
    padding: 10px;
}

.edit-input {
    width: 90%;
}

.add-questions-input {
    width: 87%;
}