/*CSS*/

.navbar-color {
    /* background-color: rgb(23, 55, 86); */
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at top, #21a9b0, #192f43, #071118);
}

.footer-color {
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at bottom, #21a9b0, #192f43, #071118);
}

.copyright {
    text-align: center;
}

.logo-style {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

